---
import MainLayout, { jwtDetails } from "../../../layouts/main.astro";
import Padding from "../../../layouts/padding.astro";
import { Role } from "../../../models/enums";
import Form from "./_form.svelte";

if (jwtDetails.getRole() !== Role.NONE) {
  return Astro.redirect("/");
}
---

<MainLayout
  title="Control Panel - Forget password"
  description="This page only appears when is clicked from the email's link that is sent in the forget password page. It will only work once."
>
  <Padding>
    <section
      class="mt-2 flex justify-center transition-all"
      transition:animate="fade"
    >
      <Form client:load />
    </section>
  </Padding>
</MainLayout>
