---
import MainLayout, { jwtDetails } from "../../../layouts/main.astro";
import Padding from "../../../layouts/padding.astro";
import { Role } from "../../../models/enums";
import Form from "./_form.svelte";

if (!jwtDetails.isVerified()) {
  return Astro.redirect("/not_verified");
}

if (jwtDetails.getRole() === Role.NONE) {
  return Astro.redirect("/sign_in");
}

const odontologistId = parseInt(
  Astro.url.searchParams.get("odontologistId") ?? "-1",
);
---

<MainLayout>
  <Padding>
    <div class="mt-4">
      <Form
        token={jwtDetails.getToken()}
        odontologistId={odontologistId}
        client:load
      />
    </div>
  </Padding>
</MainLayout>
