---
import MainLayout, { jwtDetails } from "../../../../layouts/main.astro";
import Padding from "../../../../layouts/padding.astro";
import Settings from "../../../../layouts/settings.astro";
import Modal from "./_modal.svelte";

if (!jwtDetails.isValid()) {
  return Astro.redirect("/");
}
---

<MainLayout
  title={`${jwtDetails.getName()} - Account Management`}
  description="Manage your account details."
>
  <Padding>
    <section class="w-full">
      <Settings>
        <div class="mt-4 pl-10">
          <Modal
            id={jwtDetails.getId()}
            token={jwtDetails.getToken()}
            client:load
          />
        </div>
      </Settings>
    </section>
  </Padding>
</MainLayout>
