---
import MainLayout, { jwtDetails } from "../../../layouts/main.astro";
import Padding from "../../../layouts/padding.astro";
import { Role } from "../../../models/enums";
import Form from "./_form.svelte";

if (jwtDetails.getRole() !== Role.NONE) {
  return Astro.redirect("/");
}
---

<MainLayout
  title="Control Panel - Sign up"
  description="Here, the user will be able to register. After filling up the fields and pressing submit, the project is going to send an email to confirm the registration."
>
  <Padding>
    <section class="mt-2 flex justify-center" transition:animate="fade">
      <Form client:idle />
    </section>
  </Padding>
</MainLayout>
