---
import MainLayout, { jwtDetails } from "../../../../../layouts/main.astro";
import Padding from "../../../../../layouts/padding.astro";
import Settings from "../../../../../layouts/settings.astro";
import Form from "./_form.svelte";
---

<MainLayout
  title="Control Panel - Reset password"
  description="Change your password."
>
  <Padding>
    <section class="w-full">
      <Settings>
        <Form token={jwtDetails.getToken()} client:load />
      </Settings>
    </section>
  </Padding>
</MainLayout>
