---
import MainLayout from "../layouts/main.astro";
import Padding from "../layouts/padding.astro";
---

<MainLayout title="Control Panel - Not found" description="Resource not found.">
  <Padding>
    <section class="flex justify-center">
      <p class="text-9xl dark:text-white">404</p>
    </section>
  </Padding>
</MainLayout>
