---
import MainLayout from "../layouts/main.astro";
import Padding from "../layouts/padding.astro";
---

<MainLayout>
  <Padding>
    <div class="mt-4">
      <p class="text-justify text-lg dark:text-white">
        Control Panel is a project intended to assist in the management of
        appointments.
      </p>
      <p class="text-justify text-lg dark:text-white">
        You can verify, add, reschedule and cancel appointments based on the
        odontologist's schedule.
      </p>
      <p class="text-justify text-lg dark:text-white">
        All appointments are verified, meaning that you do not have to worry
        about appointments overlapping.
      </p>
      <p class="text-justify text-lg dark:text-white">
        This project is made using Astro with Svelte components and C# web api.
        Data is stored using SQLite. Everything is containerized and syncronized
        using Docker Compose. It is running in a t3.small instance from AWS EC2.
      </p>
      <p class="text-justify text-lg dark:text-white">
        Authentication is made using JWT asymmetric signature (RSA-SHA-4096).
      </p>
      <p class="text-justify text-lg dark:text-white">
        Passwords are stored using bcrypt.
      </p>
      <p class="text-justify text-lg dark:text-white">
        Unit tests are applied to the server using MSTest.
      </p>
    </div>
  </Padding>
</MainLayout>
