---
import MainLayout from "../layouts/main.astro";
---

<style>
  .custom-shape-divider-bottom-1710196326 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1710196326 svg {
    position: relative;
    display: block;
    width: calc(124% + 1.3px);
    height: 110px;
  }

  .custom-shape-divider-bottom-1710196326 .shape-fill {
    fill: #14b8a6;
  }
</style>

<MainLayout
  title="Control Panel"
  description="Control Panel is a project designed to be shown as portfolio. It manages odontologist's appointments. Currently in development. Author: Kevin S. Soares"
>
  <section>
    <div class="relative bg-gray-200 px-5 py-12 dark:bg-neutral-700">
      <div class="grid h-[50rem] grid-rows-4 lg:grid-cols-2 xl:px-16 2xl:px-20">
        <p
          class="line-clamp-1 text-center text-5xl font-medium tracking-widest text-stone-700 sm:text-6xl lg:col-start-1 lg:col-end-2 lg:row-start-1 lg:row-end-2 dark:text-white"
        >
          Control Panel
        </p>
        <p
          class="text-justify text-2xl tracking-wide text-stone-700 sm:text-4xl lg:col-start-2 lg:col-end-3 lg:row-start-2 lg:row-end-3 dark:text-white"
        >
          Control Panel is a project intended to assist in the management of
          appointments.
        </p>
        <p
          class="text-justify text-2xl tracking-wide text-stone-700 sm:text-4xl lg:col-start-2 lg:col-end-3 lg:row-start-3 lg:row-end-4 dark:text-white"
        >
          You can verify, add, reschedule and cancel appointments based on the
          odontologist's schedule.
        </p>
        <p
          class="text-justify text-2xl tracking-wide text-stone-700 sm:text-4xl lg:col-start-2 lg:col-end-3 lg:row-start-4 lg:row-end-5 dark:text-white"
        >
          All appointments are verified, meaning that you do not have to worry
          about appointments overlapping. <a
            href="https://github.com/Kevin-S-Soares/Project_Odontologist"
            class="underline">Repository</a
          >
        </p>
      </div>

      <div class="custom-shape-divider-bottom-1710196326">
        <svg
          data-name="Layer 1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1200 120"
          preserveAspectRatio="none"
        >
          <path
            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
            class="shape-fill"></path>
        </svg>
      </div>
    </div>
    <div class="h-[50rem] bg-gradient-to-b from-teal-500 to-emerald-500"></div>
  </section>
</MainLayout>
