---
import MainLayout from "../layouts/main.astro";
import Padding from "../layouts/padding.astro";
---

<MainLayout>
  <Padding>
    <div class="mt-4">
      <p class="text-justify text-lg dark:text-white">
        Verify your email before proceeding.
      </p>
    </div>
  </Padding>
</MainLayout>
