---
import MainLayout, { jwtDetails } from "../../../layouts/main.astro";
import Padding from "../../../layouts/padding.astro";
import Form from "./_form.svelte";

const scheduleId = parseInt(Astro.url.searchParams.get("scheduleId")?? "-1")
---

<MainLayout>
  <Padding>
    <div class="mt-4">
      <Form token={jwtDetails.getToken()} scheduleId={scheduleId} client:load />
    </div>
  </Padding>
</MainLayout>
