---
import MainLayout from "../../layouts/main.astro";
import Padding from "../../layouts/padding.astro";
import FormPanel from "../../components/panel/formPanel.svelte";

import Trick from "./_trick.svelte";
---

<MainLayout>
  <Padding>
    <section class="mt-2 flex justify-center">
      <FormPanel>
        <Trick client:load />
      </FormPanel>
    </section>
  </Padding>
</MainLayout>
