---
import MainLayout, { jwtDetails } from "../../layouts/main.astro";
import { DateHandler } from "../../models/date_handler";
import Padding from "../../layouts/padding.astro";
import { BreakTime } from "../../models/break_time";

const breakTimes: BreakTime[] = [
  {
    id: 0,
    scheduleId: 0,
    name: "test",
    startDay: 1,
    startTime: "09:00",
    endDay: 1,
    endTime: "18:00",
  },
];
---

<MainLayout>
  <Padding>
    <a
      class="mt-4 block w-1/6 cursor-pointer rounded-md bg-teal-400 px-1 py-3 text-center font-bold text-white transition-all hover:bg-teal-500"
      href="/break_times/add">Add break time</a
    >

    {
      breakTimes.length > 0 ? (
        <div class="grid-rows-auto mt-4 grid w-full grid-cols-[repeat(5,_1frpx)] rounded-md border">
          <div class="col-start-1 col-end-2 row-start-1 row-end-2">
            <p class="text-center font-medium">Name</p>
          </div>
          <div class="col-start-2 col-end-3 row-start-1 row-end-2">
            <p class="text-center font-medium">Start</p>
          </div>
          <div class="col-start-3 col-end-4 row-start-1 row-end-2">
            <p class="text-center font-medium">End</p>
          </div>
          <div class="col-start-4 col-end-6 row-start-1 row-end-2">
            <p class="text-center font-medium">Actions</p>
          </div>

          {breakTimes.map((item, index) => {
            let rows = "";
            if (index === 0) {
              rows = "row-start-2 row-end-3 ";
            }
            if (index === 1) {
              rows = "row-start-3 row-end-4 ";
            }
            if (index === 2) {
              rows = "row-start-4 row-end-5 ";
            }
            if (index === 3) {
              rows = "row-start-5 row-end-6 ";
            }
            if (index === 4) {
              rows = "row-start-6 row-end-7 ";
            }
            return (
              <>
                <div class={rows + "col-start-1 col-end-2"}>
                  <p class="block text-center">{item.name}</p>
                </div>
                <div class={rows + "col-start-2 col-end-3"}>
                  <p class="block text-center">
                    {DateHandler.getDayOfTheWeek(item.startDay) +
                      " - " +
                      item.startTime}
                  </p>
                </div>
                <div class={rows + "col-start-3 col-end-4"}>
                  <p class="cursor-pointer text-center">
                    {DateHandler.getDayOfTheWeek(item.endDay) +
                      " - " +
                      item.endTime}
                  </p>
                </div>
                <div class={rows + "col-start-4 col-end-5 justify-self-center"}>
                  <a
                    href={`/break_times/edit/${item.id}`}
                    class="cursor-pointer text-center hover:underline"
                  >
                    edit
                  </a>
                </div>
                <div
                  class={
                    rows +
                    "col-start-5 col-end-6 justify-self-center hover:underline"
                  }
                >
                  <a class="cursor-pointer text-center">delete</a>
                </div>
              </>
            );
          })}
        </div>
      ) : (
        <div class="mt-4">
          <p class="text-center text-3xl">No break times registered.</p>
        </div>
      )
    }
  </Padding>
</MainLayout>
